.skills{
     height:100vh;
     width:100%;
     background: var(--bcg-clr2);
     display: flex;
     justify-content: space-evenly;
     align-items: center;
}
.educationDiv{
     height: 80vh;
     width: 500px;
     text-align: center;

     /* background-color: var(--bcg-clr3); */
}
.skillsDiv{
     height: 80vh;
     width: 500px;
     /* background-color: var(--bcg-clr3); */
     text-align: center;
}
.skillsDiv h1{
     color: var(--txt-clr1);
     font-size:49px;
     font-weight: 900;
}
.educationDiv h1{
     color: var(--txt-clr1);
     font-size:49px;
     font-weight: 900;
}