.skills{
     height:100vh;
     width:100%;
     background-color:#000;
     /* #ebd3ae txt color
     #c79f6c; txt bg
     #ofofof background
     #161616 element highlight
     #222222 element highlight 2
     #252525 element highlight 2 */
     background-color: #f15A24;
     background-color:#1a1a1a;
     background-color: #c54f24;

     background-color: #fff;

}