@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;1,300&family=Open+Sans&display=swap');
:root{
     --text-clr:#fff;
     --bcg-clr:#1A120B;
     --bcg-ele-clr: #3C2A21;
     --element1-clr: #D5CEA3;
     --element2-cle: #E5E5CB;
}
*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Josefin Sans', sans-serif;
     /* font-family: 'Open Sans', sans-serif; */
}
.home{
     height: 100vh;
     width: 100%;
     display: flex;
     justify-content: flex-start;
     flex-direction: column;
     padding-bottom: 300px;
     /* background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(background.jpg); */
    background-image: url(pictures/bcg\ png.jpg);
    background-size: cover;
    background-position: center;
}
 nav{
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 18px 45px 0px 45px;
 }
 .logo{
     color: white;
     font-size: 26px;
     font-family: 'Open Sans', sans-serif;

 }
 span{
     color: #D5CEA3;
 }
 nav ul li{
     list-style-type: none;
     display: inline-block;
     padding: 0px 10px;
 }
 nav ul li a{
     color: white;
     text-decoration: none;
     font-weight: bold;
     font-size: 1.1rem;
     letter-spacing: 1px;
     &:hover{
          color: #D5CEA3;
     }
 }
 
 .gitBtn{
     padding: 5px 15px;
     background: transparent;
     border-radius: 30px;
     border: 1px solid #D5CEA3;
     
     &:hover{
          cursor: pointer;
          background-color: #D5CEA3;
          /* transform: scale(1.1); */
          color: #1A120B;

          /* transition: .4s; */

     } 
 }
 .gitBtn a{
     text-decoration: none;
     color: #fff;
     font-size: 1.1rem;
     font-weight: bold;
    font-family: 'Open Sans', sans-serif;
     letter-spacing: 0.5px;
     &:hover{
        color: #1A120B;
        transition: .4s;

     }
 }
 .gitBtn i{
     padding-right: 3px;
     font-size: 1.2rem;
     
 }
 .heroSection{
     /* background-color: #3C2A21; */
     height: 100vh auto;
     width: 100% auto;
     margin-top:200px ;
     display: flex;
     justify-content: center;
     flex-direction: column;
     align-items: center;
 }
 .heroSection .heroSectionDiv{
     display: flex;
     height: auto;
     width: auto;
     justify-content: center;
     flex-direction: column;
     align-items: center;
     gap: 20px;
 }
 .heroSection p{
     color: #fff;
     font-size: 80px;
     opacity: 80%;
 }
 .heroSection h1{
     font-size: 65px;
     color: #fff;
 }
 .heroSectionBtn{
     margin-top: 20px;
     gap: 20px;
     display: flex;

 }
.heroSectionBtn button{
    font-family: 'Open Sans', sans-serif;
     padding: 7px 18px;
     background: transparent;
     font-weight: bold;
     letter-spacing: 0.5px;
     border-radius: 30px;
     border: 1px solid #D5CEA3;
     font-size: 1.1rem;
     color: #fff;
     &:hover{
          cursor: pointer;
          background-color: #D5CEA3;
          color: #1A120B;
          transition: .4s;

     } 
}